a {
  color: #76988F;
}

a:visited {
  color: red;
  background-color: white;
}

a:hover {
  color: black;
  background-color: #white;
}

a:focus {
  color: white;
  background-color: #76988F;
}

a:active {
  color: black;
  background-color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
}

/* --------------------------------
--------this is practice-----------
--------for linking----------------
------------------------------------*/

.top a {
  color: #76988F;
  font-size: 1rem;
}

.top a:visited {
  color: black;
  background-color: white;
  font-size: 0.75rem;
}

.top a:hover {
  color: white;
  background-color: black;
  font-size: 1.25rem;
}

.top a:focus {
  color: white;
  background-color: #76988F;
  font-size: 0.75rem;
}

.top a:active {
  color: black;
  background-color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1rem;
}
