a {
  color: #76988F;
}

a:visited {
  color: red;
  background-color: #76988F;
}

a:hover {
  color: black;
  background-color: #white;
}

a:focus {
  color: white;
  background-color: #76988F;
}

a:active {
  color: black;
  background-color: grba(118,152,143, 1);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
}
