body{

}

header {
  text-align:center;
  margin-bottom: 10rem;
  /*width: 100%;*/
}

h1 {
  font-size: 4rem;
  font-variant: small-caps;
  margin-bottom: 0px;
}

h2 {
  margin-left: 2em;
  margin-bottom: .75rem;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

p {
  margin-left: 3em;
  font-size: 1.125rem;
  margin-top: .75rem;
  margin-bottom: 0rem;
  /*width: auto;*/
}

#subtitle {
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
  font-size: 1.125rem;
  width: 92%;
}

ul {
  font-size: 1.125rem;
  list-style-type: none;
}

.left {
  float: left;
  position:absolute;;
  text-align: left;
  /*position: fixed;
  width: 100%;*/
}

.right {
  float: right;
  text-align: right;
  /*position: fixed;
  width: 100%;*/
}

.top {
  font-size: 0.75rem;
  color: black;
}

.top, a a:hover a:visited a:focus a:active{
  background-color: white;
  font-size: 0.75rem;
  color: black;
  margin-top: 0rem;
}

.first {
  max-width: 33%;
  float: left;
}

.second {
  max-width: 33%;
  float: left;
}

.third {
  max-width: 33%;
  float: left;
}

.fourth {
  max-width: 30%;
  float: left;
}

.fifth {
  max-width: 30%;
  float: left;
}

footer { <!--keep this one -->
  text-align: center;
  font-style: oblique;
  position: absolute bottom;
  font-size: .75rem;
}

footer ul {
  text-align: center;
}

main {

}
