.list {
  list-style-type: none;
}

img {
  border: 5px double #76988F;
  border-radius: 50%;
  width: 33%;
  display: block;
  margin: auto;

}

.row1 {
  float: left;
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}


.clearfix:after {
  clear: both;
}

.row2{
  float: left;
  max-width: 100%;
}

/*these are keepers*/
#ul1 {
  /*display: inline;*/
  margin: 0;
  padding: 0;
}

.ul2 {
  float: right;
  position: static;
  margin-left: 75%;
  margin-top: -4%;
  /*margin-bottom: 95%;*/
}
