.list {
  list-style-type: none;
}

img {
  border: 5px double #76988F;
  border-radius: 50%;
  width: 33%;
  display: block;
  margin: auto;

}

.row1 {
  float: left;
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}


.clearfix:after {
  clear: both;
}

.row2{
  float: left;
  max-width: 100%;
}

/*these are keepers*/
.ul1 {
  text-align: left;
  margin-left: auto;
  margin-top: auto;
  float: left;
}

.ul2 {
  text-align: right;
  padding-top: 2%;
}
